.container h1{
    font-size: 80px;
    font-weight: 700;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container p{
    font-size: 35px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}
.btn:hover{
    background-color: rgb(65, 5, 28) !important;
}